section {
    &#infoHome {
        margin-top: rem(-150px);
        header {
            padding: rem(20px) 0;
            @include mq('md') {
                padding: rem(42px) 0;
            }
        }
    }
}

.infoHome {
    display: block;
    @include mq('md') {
        display: flex;
        flex-wrap: wrap;
    }
    &--item {
      .equipo{
        padding: rem(50px) rem(10px);
        @include mq('md') {
        padding: rem(30px) rem(100px);
      	display: flex;
      	flex-wrap: wrap;

      }
      &--item{
        display: block;
        text-align: center;
        padding: rem(10px) rem(50px);
        @include mq('md') {
          width: 49.9%;
          padding: rem(30px) rem(20px);
          h2{
            text-align: left;
            color: $azul-medio;
          }
          .descripcion{
            text-align: left;
          }
        }
        p{
          span{
            img {
              padding: 5%;
              width: 70px;
              height: auto;
            }
          }
        }
      }
      }
        display: block;
        @include mq('md') {
            width: 49.9%;
        }
        img {
            width: 100%;
            height: auto;
            display: inline-block;
            text-align: center;
        }
        h2 {
            color: $azul-medio;
        }
        b {
            color: $azul-oscuro;
        }
        a {
            background-color: $naranja;
            margin: 50px;
            padding: (15px) rem(22px);
            border-radius: 30px;
            color: $white;
            @include mq('md') {
                padding: rem(15px) rem(32px);
            }
        }
    }
    .block1 {
        background-color: $gris-trasparente;
    }
    &--caption {
        text-align: center;
        padding: rem(15px) rem(22px);
        @include mq('md') {
            padding: rem(45px) rem(96px);
            text-align: left;
        }
    }
}
