.slider {
	position: relative;
	//height: 83vh;
	width: 100%;
	&--item {
		//height: 83vh;
		width: 100%;
		background-position: center;
		background-size: cover;
		@include bgcover;

		img {
			display: block;
			width: 100%;
			height: auto;
		}

		#video-container {
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			z-index: 100;
			@include mq('md') {
				display: block;
			}

			#video-background {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				z-index: 0;
				transform: translateX(-50%) translateY(-50%)
			}
		}
	}
	&--caption {
		bottom: rem(60px);
		left: 0;
		padding-top: rem(80px);
		padding-bottom:rem(80px);
		text-align: center;
		text-transform:uppercase;
		max-width: rem(950px);
		color: $white;
		@include mq('md') {
			padding: rem(160px);
			bottom: unset;
			left: rem(60px);
			top: rem(160px);
			text-align: left;
		}
		h1{
			@include font(45px);
			@include mq('md'){
				@include font(85px);
			}
			text-shadow: 3px 3px 3px #4f79a3;
		}
		h2{
			@include font(25px);
			text-align: center;
			@include mq('md'){
				@include font(45px);
				text-align: left;
			}
			text-shadow: 3px 3px 3px #4f79a3;

			span{
				background-color: $verde;
				padding: 5px 10px 0 5px;
				text-shadow: 0px 0px 0px #4f79a3;
			}
		}
		p {
			color: $white;
			@include font(15px);
			strong {
				display: block;
			}
			@include mq('md') {
				@include font(50px);
				line-height: 1;
			}
		}
	}

	// Controls
	.slick-arrow {
		width: rem(26px);
		height: rem(40px);
		z-index: 2;
		&.slick-prev {
			background-size: 55px !important;
			left: rem(25px);
			@include iconBg('../images/icons/2-a.png', 26px);
		}
		&.slick-next {
			background-size: 55px !important;
			right: rem(25px);
			@include iconBg('../images/icons/2-b.png', 26px);
		}
	}
}
