section {

	&#areas {
		@include mq('md') {
		padding: rem(30px) rem(100px);

	}
		header {
			padding: rem(20px) 0;
			@include mq('md') {
				padding: rem(42px) 0;
			}
		}
	}
}

.areas {

	text-align: center;
	display: block;
	@include mq('md') {
		display: flex;
		flex-wrap: wrap;
	}
	&--item {
		display: block;
		text-align: center;
		padding: rem(8px) rem(15px);

		@include mq('md') {
			width: 33.3%;
			padding: rem(15px) rem(32px);
		}
		img {
      width: 100%;
      height: auto;
			display: inline-block;
			text-align: center;
			margin-bottom: rem(15px) auto;
		}

	}
  &--caption{
    background-color: $azul-claro;
    color: $white;
		padding-bottom: rem(8px);
  }
}
