section {

	&#areas {
		@include mq('md') {
		padding: rem(30px) rem(100px);

	}
	.text-areas {
		strong{
			color: $azul-medio;
		}
	}
		header {
			padding: rem(20px) 0;
			@include mq('md') {
				padding: rem(42px) 0;
			}
		}
	.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #116db991;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 120px auto;
  padding: 20px;
  background: #fff;
  border-radius: 50px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
	@include mq('md') {
	 padding: 50px;
	}

	h2{
		color: $azul-medio;
		text-transform: uppercase;
	}
	strong{
		color: $azul-medio;
	}
	hr{
		border-top: 2px solid $azul-medio;
	}
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: $azul-oscuro;
}
.popup .content {
  max-height: 480px;
  overflow: auto;
	overflow-y: scroll;
	@include mq('md') {
   max-height: 920px;
	}

	}
}

	}


.areas {
	justify-content: center;
	display: block;
	@include mq('md') {
		display: flex;
		flex-wrap: wrap;
	}
	&--item {
		display: block;
		text-align: center;
		padding: rem(8px) rem(15px);

		@include mq('md') {
			width: 33.3%;
			padding: rem(15px) rem(32px);
		}
		img {
      width: 100%;
      height: auto;
			display: inline-block;
			text-align: center;
			margin-bottom: rem(15px) auto;
			&:hover {filter: opacity(.5);}
		}
		  h3{
				padding: 0 5px;
	  		}



	}
  &--caption{
    background-color: $azul-claro;
    color: $white;
		padding-bottom: rem(8px);
  }
}
.fancybox-container{
						h2{
							color: $azul-medio;
							text-transform: uppercase;
						}
						strong{
							color: $azul-medio;
						}
						hr{
							border-top: 2px solid $azul-medio;
						}
						ul{
							li{
								h3{
									color: $gray;
									font-size: 17px;
								}
							}
						}

}
.fancybox-content{
	    border-radius: 50px;
			text-align: justify !important;
}
.fancybox-bg{
	background: #116db991 !important;
}
