.testimonios{
  width: 98%;
  padding: 20px 0;
  overflow: hidden;
  @include mq(md){
  padding: 40px 0;
  };

&--caption{
  h3{
    text-align: center;
    color: $azul-medio;
  }
  p{
    padding: 0 10%;
    @include mq(md){
    padding: 0 30%;
    };
  }
  strong{
    color:$azul-medio;
  }
}
}
