.area {
	position: relative;
	//height: 83vh;
	width: 100%;
	&--item {
		//height: 83vh;
		width: 100%;
		position: relative;
		@include bgcover;

		img {
			display: block;
			width: 100%;
			height: auto;
		}

		#video-container {
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			z-index: 100;
			@include mq('md') {
				display: block;
			}

			#video-background {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				z-index: 0;
				transform: translateX(-50%) translateY(-50%)
			}
		}
	}
	&--caption {
		bottom: rem(60px);
		left: 0;
		padding: rem(80px);
		text-align: center;
    text-transform: uppercase;
		max-width: rem(950px);
		color: $white;
		@include mq('md') {
			padding: rem(160px);
		}
		h1{
			@include font(45px);
			@include mq('md') {
				@include font(85px);
			}
		}
		h2{
			@include font(25px);
			width: 100%;
				background-color: $verde;
				padding: 5px 50px 0 10px;
				@include mq('md') {
					@include font(45px);
				}
		}
		p {
			color: $white;
			@include font(15px);
			strong {
				display: block;
			}
			@include mq('md') {
				@include font(50px);
				line-height: 1;
			}
		}
	}

}
